<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title></title>
</head>
<body>
<p>Enter the details of the item you want to sell, below:<br>
</p>
<form action="{{page}}" method="post" enctype="multipart/form-data"> 

<label for="iname">Item Name:</label><br>
<input id="iname" name="iname" value="" type="text"><br>

<label for="img">Upload Photo (.jpg only):</label><br>
<input id="img" name="img" type="file" ><br>

<label for="desc">Item Description:</label><br>
<textarea id="desc" name="desc" value="" type="text">
    </textarea>
<br>
<input value="Submit" type="submit"> </form>

</div>
</body>
</html>